<header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-5" href="/" aria-label="Bootstrap">
    <h2>Test App</h2>
  </a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link " href="/" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/add">Add New Item</a>
      </li>
    </ul>
  </div>

  <a class="btn btn-outline-primary ml-auto" href="/auth/logout">Logout</a>
</header>
